/* Main Menu Styling */
li {
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 1%;
  margin-top: 15%;
  border: 1px solid black;
}

ul li p {
  padding: 15%;
  margin: 0;
  background-color: #ffffff;
  transition: background-color 1000ms;
}

.teal {
  background-color: #008B8B;
  transition: background-color 1000ms;
}
