/* Main Menu Styling */
li {
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 1%;
  margin-top: 15%;
  border: 1px solid black;
}

ul li p {
  padding: 15%;
  margin: 0;
}

.new-color {
  background-color: /* New color goes here - pick something fun :) */;
}
